<mat-toolbar class="footer-mat" >
<!--  <div class="wrapper">
  <div class="footcontainer"> <-->
 <div class="first-part">
   <img src="assets/images/logorobo.png" class="logo" width="32" height="36">
   <span><a href="/" class="copyright">crazyRobots</a></span>
 </div>
  <p class="info" align="center" fxFlex fxLayoutAlign="center center" fxHide.xs><strong>MIT Copyright © 2019 by SapphireProject<br>Infotech Technology 2018-2019</strong></p>
  <a routerLink="/contact" class="contact-us"><mat-icon>mail_outline</mat-icon>
    <div class="contact">Contact Us</div></a>

<!-- <nav class="footerlist">
  <ul>
    <li><a routerLink="/">Info1</a></li>
    <li><a routerLink="/">Info2</a></li>
    <li><a routerLink="/">Info3</a></li>
  </ul>
  </nav>
-->
<!-- </div>
</div> -->
</mat-toolbar>
