<!--<div class="social-component">-->

  <!--<div class="auth-social-buttons-container">-->

    <!--<a href="{{GOOGLE_AUTH_URL}}" class="auth-social-button google" fxLayout="row" style="background-color:white;">-->
      <!--<img class="social-button-icon" src="assets/img/google-logo.png" alt="Google">-->
    <!--</a>-->

    <!--<a href="{{FACEBOOK_AUTH_URL}}" class="auth-social-button facebook" fxLayout="row" style="background-color:white;">-->
      <!--<img class="social-button-icon" src="assets/img/fb-logo.png" alt="Facebook">-->
    <!--</a>-->
    <!--<a href="{{GITHUB_AUTH_URL}}" class="auth-social-button github" fxLayout="row" style="background-color:white;">-->
      <!--<img class="auth-social-button-icon" src="assets/img/github-logo.png" alt="Github">-->
    <!--</a>-->

  <!--</div>-->
<!--</div>-->
