.tank {
  margin-left: 5px;
}

.room-main {
  display: flex;
  align-items: stretch;
}

.wrapper-for-room {
  width: 75%;
  height: 100%;
}

.setup-battle {
  max-width: 25%;
}

.mat-elevation-z8. {
  height: 800px;
}

.mat-row:hover {
  background-color: #f9f9f9;
}
