<mat-card>
  <mat-card-content>
  <div id="gameDIV" class="game"></div>
  </mat-card-content>
  <div class="actions">
  <button mat-raised-button routerLink="/">Home</button>
  <span class="space-between"></span>
  <button mat-raised-button id="fullScreenTurn" (click)="fullScreenByClick()">Enter Full Screen</button>
  <span class="space-between"></span>
  <button mat-raised-button id="Repeat" (click)="repeatGame()">Repeat</button>
  <span *ngIf="acceptToSkipGame" class="space-between"></span>
  <!--<button mat-raised-button *ngIf="acceptToSkipGame" id="skipGame" (click)="skipGame()">Skip</button>-->
  </div>
</mat-card>

