<div class="container">
  <h3 mat-dialog-title>Invite new user</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit()" [formGroup]="inviteForm">

    <!--Textarea for demo purposes-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" maxlength="50" placeholder="Username" formControlName="formControl" name="username" required >
        <mat-error *ngIf="this.inviteForm.controls.invalid">{{getErrorMessage()}}</mat-error>
        <mat-hint align="end">{{inputstate.value?.length || 0}}/50</mat-hint>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-raised-button [type]="submit" [disabled]="this.inviteForm.controls.formControl.invalid" [mat-dialog-close]="1" (click)="confirmAdd()" color="primary">Invite</button>
      <button mat-raised-button (click)="onNoClick()" tabindex="-1" color="primary">Cancel</button>
    </div>
  </form>
</div>
