.mat-row:hover {
  background-color: #f9f9f9;
}

/*.wrapper {*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
/*}*/




.wrapper-for-table {
  margin-top: 10px;
  height: 365px;
  overflow: auto;
}

