<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <app-sidenav-list (sidenavClose)="sidenav.close()"></app-sidenav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- nav -->
    <app-header *ngIf="currentUser" (sidenavToggle)="sidenav.toggle()"></app-header>
    <!-- progress bar of loading data -->
    <mat-progress-bar *ngIf="loading" color="blue" mode="indeterminate"></mat-progress-bar>


    <!-- main app container -->
    <router-outlet></router-outlet>

    <!-- global alert service -->
    <app-alert></app-alert>

    <!-- credits -->
    <app-footer *ngIf="currentUser"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
