<div class="body">
<mat-card class = "tp-card">
  <mat-card-header>
    <img mat-card-avatar class="avatar" ngxGravatar [email]=currentUser.email alt="avatar">
    <div class="wrapper-for-text-header">
    <mat-card-title>Welcome, {{currentUser.username}}</mat-card-title>
    <mat-card-subtitle>Player and Robotics Engineer</mat-card-subtitle>
    </div>
    <span></span>
    <div class="invites"><button mat-button routerLink="/notifications">{{checkNotifications()}}</button></div>
  </mat-card-header>
  <mat-card-content>
<div fxLayout='row' fxLayoutWrap class="cards">

  <div class="example-card" *ngFor="let item of items">
    <mat-card (click)="redirectTo(item)">
      <mat-card-header>
        <mat-card-title>{{item.header}}</mat-card-title>
        <mat-card-subtitle>{{item.secondHeader}}
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{item.imgSrc}}" height="270" width="230" alt="Photo">
      <mat-card-content>
        <p>
          {{item.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" button>GO</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
  </mat-card-content>
</mat-card>
</div>
