.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}

.flex-for-header {
  /*display: flex;*/
  /*justify-content: space-around;*/
}

span {
  width: 60%;
}

.avatar {
  margin-bottom: 10px;
}

p {
  margin-right: 40px;
}

.wrapper-for-text-header, .invites {
  margin-top: 20px;
}

.example-card {
  width: 700px;
}

.example-card :hover {
  background-color: #f9f9f9;
}

.body {
  overflow-y: hidden;
}
