<div class="menu">
  <div class="wrapper">
  <div class="userbar">
  <div class="userbarcontent"> 
    <a href="/#"><img alt="avatar" src="/assets/images/avatar.jpg" class="avatar"></a>
      <a href="/#" class="username" title="Username">Username</a>
      <ul class="profile-features">
          <li><a href="/#" title="Friends">0 friends</a></li>
          <li><a href="/#" title="Strategies">0 strategies</a></li>
      </ul>
  </div>  
  </div>
  <div class="modeselector">
      <div class="items">
            <a href="#"><div class="leftitem">
                <img src="/assets/images/choosestrategy.jpg">
                <h2>Strategy</h2>
          </div>
        </a>
        <a href="#"> <div class="rightitem">
            <img src="/assets/images/play.jpg">
            <h2>Play</h2>
      </div>
    </a>
      </div>
  </div>
</div>
</div>