
.carousel {
  padding-top: 30px;
  width: 55%;
  position: absolute;
}

img {
  float: left;
  margin-right: 30px;
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.wrapper-for-button {
  display: flex;
  justify-content: center;
}

button {
  background-color: rgba(0, 167, 121, 0.81);
  border-radius: 18px;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  width: 160px;
  height: 40px;
}

.select-game {
  margin-top: 4%;
  margin-bottom: 10%;
}

mat-slider {
  margin-top: 20px;
  width: 40%;
}

.number-input-room-config {
  margin-left: 20px;
}

.room-setting-button {
  margin-top: 40px;
  margin-bottom: 10px;
}

.placeholder {
  margin-right: 5px;
  margin-left: 5px;
}

.wrapper-for-room {
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion :hover {
  background-color: #f9f9f9;
}

h1 {
  padding-top: 20px;
  font-weight: bold;
  font-size: 70px;
}

h2 {
  font-size: 90px;
  font-weight: bold;
  height: 52%;
}

h3 {
  font-size: 20px;
}

h4 {
  font-style: italic;
}

.space {
  height: 100px;
}

.space-for-buttons {
  margin-left: 5px;
  margin-right: 5px;
}

.description-game {
  margin-top: 30px;
}

.last-button {
  margin-bottom: 30px;
}

.room-setting-button {
  margin-bottom: 20px;
}
